.register-login-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(187, 187, 187);
  min-height: 100vh;
}

.register-login-h1 {
  font-size: 60px;
}

.register-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register-form input {
  background-color: rgb(210, 210, 210);
  border: none;
  width: 50%;
  padding: 10px;
  font-size: 18px;
  margin-top: 30px;
  color: black;
}

.interests-div {
  margin-top: 10px;
}

.interests-label {
  font-size: 25px;
  font-weight: bold;
  text-align: start;
}

.all-interests {
  display: flex;
  gap: 50px;
}

.single-interest button {
  color: black;
  border: 1px solid grey;
  background-color: rgb(187, 187, 187);
  font-size: 20px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.2s;
  padding: 10px;
}

.single-interest button:hover {
  background-color: #333333;
  color: white;
}

.submit-button {
  padding: 20px 50px;
  font-size: 23px;
  color: white;
  border: none;
  background-color: rgb(65, 158, 65);
  cursor: pointer;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: rgb(54, 135, 54);
}

.error {
  margin-top: 5px;
  padding: 0;
}

.yar {
  cursor: pointer;
  margin-top: 20px;
}

.yar:hover {
  text-decoration: underline;
}

.sve {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sve div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.single-interest button.selected {
  background-color: #333333;
  color: white;
}

/* responsive */

@media screen and (max-width: 1100px) {
  .register-form input {
    width: 80%;
  }
}

@media screen and (max-width: 590px) {
  .register-login-h1 {
    font-size: 40px;
  }

  .register-form input {
    width: 85%;
  }
}

@media screen and (max-width: 430px) {
  .all-interests {
    gap: 20px;
  }

  .interests-div button {
    font-size: 18px;
  }
}
